body {
    margin: 0; 
    background-color: rgba(250, 128, 114, 0.308);}

#title, .intro {
    text-align: center;
    color: black;   
}


#img1 {
    max-height: 100vh;
    width: 100%;
    margin:auto;
}


#main {
  display: inline;  
  position: relative;
  gap: 10px;
}

#start{

    /* style the button */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
    background-color: burlywood;
    /* animation */
	/* animation:bouncy 3s infinite linear; */
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation */
	animation:bouncy 2s infinite linear;

    /* bottom: 10px */
    
}
#start:hover {
    background-color: rgba(0, 0, 0, 0.233);

    box-shadow: 0 25px 30px burlywood;
}

@keyframes bouncy {
	0%{top:50%}
	40%{top:50%}
	43%{top:49%}
	46%{top:50%}
	48%{top:49%}
	50%{top:50%}
	100%{top:50%;}
}


#score {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#computer, #user {
    text-align: center;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#compBox, #userBox {
    width: 300px;
    height: 200px; 
    border: 12px solid white;
    padding: 50px;
    margin: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#choices {
    display: flex;
    justify-content: center;
}
 
#options {
    display: flex;
    justify-content: center;
}

#secScreen {
    padding-top: 2%;
    display: none;
}

#win, #lose {
    display: flex;
    gap: 10px; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}
#d1, #d2 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: type 5s steps(50, end);
}


@keyframes type {
    from {width: 0;}
    to { width: 100%;}
}

.butt, .butt1 {
    display: inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Permanent Marker', cursive;
    /* font-family:'Roboto',sans-serif; */
    text-transform:uppercase;
    font-weight:400;
    color:gray;
    background-color:salmon;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    margin-left: 15px;

}
